# Detecta automáticamente archivos de texto y realiza la normalización de LF
*  texto = auto
{
  " nombre " : " __MSG_extName__ " ,
  " descripción " : " __MSG_extDesc__ " ,
  " offline_enabled " : verdadero ,
  " versión " : " 2.6.4 " ,
  " manifest_version " : 2 ,
  " default_locale " : " en " ,
  " fondo " : {
    " scripts " : [ " js / background.js " ],
    " persistente " : falso
  },
    " clave " : " EXTENSION_KEY " ,
    " oauth2 " : {
        " client_id " : " CLIENT_ID " ,
        " alcances " : [
          " https://www.googleapis.com/auth/drive.appdata " ,
        " https://www.googleapis.com/auth/drive.file "
        ]
    },
  " browser_action " : {
    " default_icon " : " assets / extension-icons / logo-32.png " ,
      " default_popup " : " html / popup.html "
  },
    " iconos " : {
      " 16 " : " assets / extension-icons / logo-16.png " ,
      " 128 " : " assets / extension-icons / logo-128.png " ,
      " 48 " : " assets / extension-icons / logo-48.png "
    },
    " content_scripts " : [
        {
            " coincidencias " : [
            " <todas_urls> "
            ],
            " js " : [ " js / detect.js " ]
        }
    ],
  " permisos " : [
    " <todas_urls> " , " activeTab " , " tabCapture " , " pestañas " , " descargas " , " almacenamiento " , " identidad " , " https://www.googleapis.com/* "
  ],
        " web_accessible_resources " : [         " html / camera.html " , " html / sources.html " , " html / settings.html " , " js / content.js " , " css / content.css " , " assets / images / * " , " js / sources.js " , " js / cameracontent.js " , " css / cameracontent.css " , " js / libraries / plyr.min.js ", "css / libraries / plyr.min.css " , " js / audiosources.js " , " html / audiosources.html "
    ],
    " comandos " : {
        " cancelar " : {
            " sugerida_clave " : {
              " predeterminado " : " Alt + C " ,
              " mac " : " Alt + C "
            },
            " descripción " : " __MSG_extCancel__ "
        },
        " silenciar / dejar de silenciar " : {
            " sugerida_clave " : {
              " predeterminado " : " Alt + M " ,
              " mac " : " Alt + M "
            },
            " descripción " : " __MSG_extMute__ "
        },
        " detener " : {
            " sugerida_clave " : {
              " predeterminado " : " Alt + S " ,
              " mac " : " Alt + S "
            },
            " descripción " : " __MSG_extStop__ "
        },
        " pausar / reanudar " : {
            " sugerida_clave " : {
              " predeterminado " : " Alt + P " ,
              " mac " : " Alt + P "
            },
            " descripción " : " __MSG_extPause__ "
        }
        
    }
}
